<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>前途社区</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/community.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">

    <div class="container">
	  <div class="row">
	    <div class="col-sm-offset-2 col-md-offset-1">
          <div class="navbar-header">
            <a class="navbar-brand " href="/">社区图标</a>
          </div>
	    </div>
        <div id="navbar" class="navbar-collapse collapse row">
            <ul class="nav navbar-nav">
              <li class=""><a href="/"><b>社区</b></a></li>
            </ul>
			<div class="col-sm-8 col-md-7">
            <ul class="nav navbar-nav navbar-right ">
			  {% if user != None %}
              <li><a href="/user/{{ user.job_hunter_id }}/">{{user.job_hunter_name}}</a></li>
			  <li><img src="{{user.job_hunter_avatar_path}}" class="img-responsive img-circle mini-avatar" alt="头像"></li>
			  <li><a href="/logout/">退出</a></li>
			  {% else %}
			  <li><a href="/login/">登录</a></li>
			  {% endif %}
            </ul>
			</div>
        </div>
	  </div>
    </div>
   </nav>
   <br>
   <div class="container">
     {% block page-content %}
	  <div class="row">
	    <div class="col-sm-7 col-md-7 col-sm-offset-2 col-md-offset-1 main">
		  <div class="stater">
		  <ul class="list-inline">
		    <li><h1 class="custom-header">Q&amp;A</h1></li>
			{% if user == None %}
			<li><a id="ask" href="/login/" class="btn btn-default head-button" role="button">提问</a></li>
			{% else %}
		    <li><a id="ask" href="/publish/" class="btn btn-default head-button" role="button">提问</a></li>
			{% endif %}
		  </ul>
		  <hr>
		  </div>
		  
		  <div class="content">
		  {% for bbs in bbs_list %}
		    <div class="cell">
			 <ul class="list-inline list-unstyled row">
			    <li class="col-md-1 col-sm-1">
				  <div class="avatar">
			        <img src="/static/male-avatar1.png" class="img-responsive img-circle mini-avatar" alt="头像">
				    <p class="small">{{ bbs.author_name}}</p>
			      </div>
				</li>
			    <li class="col-md-9 ol-sm-9">
				  <div class="topic-body">
			        <ul class="list-unstyled topic">
			          <li class="topic-title lead"><a href="/detail/{{ bbs.id }}/"><strong>{{ bbs.title }}<strong></a></li>
				      <ul class="tag list-inline">
				      {% for tag in bbs.tags.all %}
				        <li><button type="button" class="btn btn-info btn-xs tagbtn"><a href="/searchTag/{{ tag.id }}">{{ tag }}</a></button></li>
				      {% endfor %}
				      </ul>
			        </ul>
			      </div>
				</li>
				<li class="col-md-2 col-sm-2">
				  <ul class="topic-data list-inline">
				    <li class="topic-clicked"> <div>{{ bbs.hit_count}}</div><small>点击</small></li>
					<li class="topic-answered"><div>{{ bbs.comment_count}}</div><small>回答</small></li>
				  </ul>
				</li>
			   </ul>
			  <hr>
			</div>
			{% endfor %}
			
			
		  </div>
		  <div class="pager clearfix">
			  <ul class="pagination">
			    {% if curPage == 1%}
				<li class="disabled"><a href="#">&laquo;</a></li>
				{% else %}
                <li><a href="?curPage={{curPage}}&&allPage={{allPage}}&&pageType=pageUp">&laquo;</a></li>
				{% endif %}
                <li class="active"><a href="#">{{curPage}}/{{allPage}}</a></li>
				{% if curPage == allPage%}
				<li class="disabled"><a href="#">&raquo;</a></li>
				{% else %}
                <li><a href="?curPage={{curPage}}&&allPage={{allPage}}&&pageType=pageDown">&raquo;</a></li>
				{% endif %}
              </ul>
			  
		  </div>
		  
		</div>
		
		<div class="col-sm-3 col-md-3">
		  <div class="side-topics">
		    <h4 class="side-header"><strong>热门话题</strong> <small>  >></small></h4>
			<hr>
			<ul class="hot-list list-unstyled">
			{% for li in hotlist %}
		       <li><a href="/detail/{{ li.id }}/">{{ li.title }}</a></li>
			{% endfor %}
		    </ul>
		  
		  </div>
		</div>
	  </div>
	  {% endblock %}
	</div>
	
	<script src="/static/jquery-1.11.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
